/* Theme Name: Abunai Theme
 * Template: genesis
 * Template Version: 2.1.3
 */
@import "lib/css/base.css";

.genesis-nav-menu a {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 20px;
}

a {
	color: blue;
}