.mobileonly {
  display: none;
}
.desktoponly {
  display: block;
}

div.site-inner {
  background: #F0F0F0;
}

.site-header {
  width: 1200px;
  height: 250px;
  margin: auto;
}

/* Sidebar */

section.social-icons-widget {
  .widget-wrap {
    overflow: auto;
    ul, li {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      border: none;
    }
  }
}

footer.site-footer {
  div.wrap {
    p {
      background: transparentize(white,0.25);
    }
  }
}
