.site-inner, .wrap {
  padding-left: 4px;
  padding-right: 4px;
}

article.entry {
  padding: 5px
}

.mobileonly {
  display: block;
}

.site-header { 
  position: absolute;
  top: 0px;
  left: 55px;
  width: 90%;
  padding-right: 10px;
  height: 92px;
  //background-size: 100% 100% !important;
  .wrap {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0px;
    .title-area {
      display: block;
      .site-title {
        text-indent: 0px;
        text-align: left;
        padding-top: 2px;
        padding-left: 10px;
      }
    }
  }
}
