div.entry-content table tr {
  th, td {
    padding: 5px;
    border: 0px solid black;
    border-bottom: 1px solid white;
  }
  th {
    background-color: black;
    color: white;
    font-size: large;
  }
  td {
    background-color: #F0F0F0;
  }
}
