/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Jetpack
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Header Navigation
	- Primary Navigation
	- Secondary Navigation
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
- Footer Widgets
- Site Footer
- Media Queries
	- Retina Display
	- Max-width: 1200px
	- Max-width: 960px
	- Max-width: 800px
*/
/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */
/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v3.0.1 | MIT License | git.io/normalize */
/* line 58, ../sass/_init.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 58, ../sass/_init.scss */
body {
  margin: 0;
}

/* line 58, ../sass/_init.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 58, ../sass/_init.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 58, ../sass/_init.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 58, ../sass/_init.scss */
[hidden], template {
  display: none;
}

/* line 58, ../sass/_init.scss */
a {
  background: 0 0;
}

/* line 58, ../sass/_init.scss */
a:active, a:hover {
  outline: 0;
}

/* line 58, ../sass/_init.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 58, ../sass/_init.scss */
b, strong {
  font-weight: 700;
}

/* line 58, ../sass/_init.scss */
dfn {
  font-style: italic;
}

/* line 58, ../sass/_init.scss */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* line 58, ../sass/_init.scss */
mark {
  background: #ff0;
  color: #333;
}

/* line 58, ../sass/_init.scss */
small {
  font-size: 80%;
}

/* line 58, ../sass/_init.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 58, ../sass/_init.scss */
sup {
  top: -.5em;
}

/* line 58, ../sass/_init.scss */
sub {
  bottom: -.25em;
}

/* line 58, ../sass/_init.scss */
img {
  border: 0;
}

/* line 58, ../sass/_init.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 58, ../sass/_init.scss */
figure {
  margin: 1em 40px;
}

/* line 58, ../sass/_init.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 58, ../sass/_init.scss */
pre {
  overflow: auto;
}

/* line 58, ../sass/_init.scss */
code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

/* line 58, ../sass/_init.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 58, ../sass/_init.scss */
button {
  overflow: visible;
}

/* line 58, ../sass/_init.scss */
button, select {
  text-transform: none;
}

/* line 58, ../sass/_init.scss */
button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 58, ../sass/_init.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 58, ../sass/_init.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 58, ../sass/_init.scss */
input {
  line-height: normal;
}

/* line 58, ../sass/_init.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* line 58, ../sass/_init.scss */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/* line 58, ../sass/_init.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 58, ../sass/_init.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 58, ../sass/_init.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 58, ../sass/_init.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 58, ../sass/_init.scss */
textarea {
  overflow: auto;
}

/* line 58, ../sass/_init.scss */
optgroup {
  font-weight: 700;
}

/* line 58, ../sass/_init.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 58, ../sass/_init.scss */
td, th {
  padding: 0;
}

/* ## Box Sizing
--------------------------------------------- */
/* line 63, ../sass/_init.scss */
*,
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ## Float Clearing
--------------------------------------------- */
/* line 73, ../sass/_init.scss */
.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
  content: " ";
  display: table;
}

/* line 90, ../sass/_init.scss */
.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
  clear: both;
  content: " ";
  display: table;
}

/* # Defaults
---------------------------------------------------------------------------------------------------- */
/* ## Typographical Elements
--------------------------------------------- */
/* line 115, ../sass/_init.scss */
body {
  background-color: #f5f5f5;
  color: #333;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.625;
  margin: 0;
}

/* line 125, ../sass/_init.scss */
a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/* line 141, ../sass/_init.scss */
::-moz-selection {
  background-color: #333;
  color: #fff;
}

/* line 146, ../sass/_init.scss */
::selection {
  background-color: #333;
  color: #fff;
}

/* line 151, ../sass/_init.scss */
a {
  color: #e5554e;
  text-decoration: none;
}

/* line 156, ../sass/_init.scss */
a:hover {
  color: #333;
}

/* line 160, ../sass/_init.scss */
p {
  margin: 0 0 28px;
  padding: 0;
}

/* line 165, ../sass/_init.scss */
ol,
ul {
  margin: 0;
  padding: 0;
}

/* line 171, ../sass/_init.scss */
li {
  list-style-type: none;
}

/* line 175, ../sass/_init.scss */
b,
strong {
  font-weight: 700;
}

/* line 180, ../sass/_init.scss */
blockquote,
cite,
em,
i {
  font-style: italic;
}

/* line 187, ../sass/_init.scss */
blockquote {
  margin: 40px;
}

/* line 191, ../sass/_init.scss */
blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px;
}

/* ## Headings
--------------------------------------------- */
/* line 205, ../sass/_init.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 10px;
}

/* line 218, ../sass/_init.scss */
h1 {
  font-size: 36px;
}

/* line 222, ../sass/_init.scss */
h2 {
  font-size: 30px;
}

/* line 226, ../sass/_init.scss */
h3 {
  font-size: 24px;
}

/* line 230, ../sass/_init.scss */
h4 {
  font-size: 20px;
}

/* line 234, ../sass/_init.scss */
h5 {
  font-size: 18px;
}

/* line 238, ../sass/_init.scss */
h6 {
  font-size: 16px;
}

/* ## Objects
--------------------------------------------- */
/* line 245, ../sass/_init.scss */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

/* line 254, ../sass/_init.scss */
img {
  height: auto;
}

/* line 258, ../sass/_init.scss */
.featured-content img,
.gallery img {
  width: auto;
}

/* ## Gallery
--------------------------------------------- */
/* line 266, ../sass/_init.scss */
.gallery {
  overflow: hidden;
}

/* line 270, ../sass/_init.scss */
.gallery-item {
  float: left;
  margin: 0 0 28px;
  text-align: center;
}

/* line 276, ../sass/_init.scss */
.gallery-columns-2 .gallery-item {
  width: 50%;
}

/* line 280, ../sass/_init.scss */
.gallery-columns-3 .gallery-item {
  width: 33%;
}

/* line 284, ../sass/_init.scss */
.gallery-columns-4 .gallery-item {
  width: 25%;
}

/* line 288, ../sass/_init.scss */
.gallery-columns-5 .gallery-item {
  width: 20%;
}

/* line 292, ../sass/_init.scss */
.gallery-columns-6 .gallery-item {
  width: 16.6666%;
}

/* line 296, ../sass/_init.scss */
.gallery-columns-7 .gallery-item {
  width: 14.2857%;
}

/* line 300, ../sass/_init.scss */
.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

/* line 304, ../sass/_init.scss */
.gallery-columns-9 .gallery-item {
  width: 11.1111%;
}

/* line 308, ../sass/_init.scss */
.gallery img {
  border: 1px solid #ddd;
  height: auto;
  padding: 4px;
}

/* line 314, ../sass/_init.scss */
.gallery img:hover {
  border: 1px solid #999;
}

/* ## Forms
--------------------------------------------- */
/* line 321, ../sass/_init.scss */
input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  font-size: 18px;
  font-weight: 300;
  padding: 16px;
  width: 100%;
}

/* line 333, ../sass/_init.scss */
input:focus,
textarea:focus {
  border: 1px solid #999;
  outline: none;
}

/* line 339, ../sass/_init.scss */
input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

/* line 345, ../sass/_init.scss */
::-moz-placeholder {
  color: #333;
  font-weight: 300;
  opacity: 1;
}

/* line 351, ../sass/_init.scss */
::-webkit-input-placeholder {
  color: #333;
  font-weight: 300;
}

/* line 356, ../sass/_init.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  background-color: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  padding: 16px 24px;
  text-transform: uppercase;
  width: auto;
}

/* line 372, ../sass/_init.scss */
.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .button {
  background-color: #e5554e;
  color: #fff;
}

/* line 381, ../sass/_init.scss */
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
  background-color: #e5554e;
  color: #fff;
}

/* line 390, ../sass/_init.scss */
.entry-content .button:hover {
  color: #fff;
}

/* line 394, ../sass/_init.scss */
.footer-widgets button:hover,
.footer-widgets input:hover[type="button"],
.footer-widgets input:hover[type="reset"],
.footer-widgets input:hover[type="submit"],
.footer-widgets .button:hover {
  background-color: #fff;
  color: #333;
}

/* line 403, ../sass/_init.scss */
.button {
  display: inline-block;
}

/* line 407, ../sass/_init.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}

/* ## Tables
--------------------------------------------- */
/* line 415, ../sass/_init.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 40px;
  width: 100%;
}

/* line 423, ../sass/_init.scss */
tbody {
  border-bottom: 1px solid #ddd;
}

/* line 427, ../sass/_init.scss */
td,
th {
  text-align: left;
}

/* line 432, ../sass/_init.scss */
td {
  border-top: 1px solid #ddd;
  padding: 6px 0;
}

/* line 437, ../sass/_init.scss */
th {
  font-weight: 400;
}

/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */
/* ## Site Containers
--------------------------------------------- */
/* line 448, ../sass/_init.scss */
.site-inner,
.wrap {
  margin: 0 auto;
  max-width: 1200px;
}

/* line 454, ../sass/_init.scss */
.site-inner {
  clear: both;
  padding-top: 40px;
}

/* ## Column Widths and Positions
--------------------------------------------- */
/* ### Wrapping div for .content and .sidebar-primary */
/* line 464, ../sass/_init.scss */
.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  width: 980px;
}

/* line 470, ../sass/_init.scss */
.content-sidebar-sidebar .content-sidebar-wrap {
  float: left;
}

/* line 474, ../sass/_init.scss */
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  float: right;
}

/* ### Content */
/* line 481, ../sass/_init.scss */
.content {
  float: right;
  width: 800px;
}

/* line 486, ../sass/_init.scss */
.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
  float: left;
}

/* line 492, ../sass/_init.scss */
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
  width: 580px;
}

/* line 498, ../sass/_init.scss */
.full-width-content .content {
  width: 100%;
}

/* ### Primary Sidebar */
/* line 504, ../sass/_init.scss */
.sidebar-primary {
  float: right;
  width: 360px;
}

/* line 509, ../sass/_init.scss */
.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
  float: left;
}

/* ### Secondary Sidebar */
/* line 516, ../sass/_init.scss */
.sidebar-secondary {
  float: left;
  width: 180px;
}

/* line 521, ../sass/_init.scss */
.content-sidebar-sidebar .sidebar-secondary {
  float: right;
}

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */
/* line 529, ../sass/_init.scss */
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 2.564102564102564%;
}

/* line 544, ../sass/_init.scss */
.one-half,
.three-sixths,
.two-fourths {
  width: 48.717948717948715%;
}

/* line 550, ../sass/_init.scss */
.one-third,
.two-sixths {
  width: 31.623931623931625%;
}

/* line 555, ../sass/_init.scss */
.four-sixths,
.two-thirds {
  width: 65.81196581196582%;
}

/* line 560, ../sass/_init.scss */
.one-fourth {
  width: 23.076923076923077%;
}

/* line 564, ../sass/_init.scss */
.three-fourths {
  width: 74.35897435897436%;
}

/* line 568, ../sass/_init.scss */
.one-sixth {
  width: 14.52991452991453%;
}

/* line 572, ../sass/_init.scss */
.five-sixths {
  width: 82.90598290598291%;
}

/* line 576, ../sass/_init.scss */
.first {
  clear: both;
  margin-left: 0;
}

/* # Common Classes
---------------------------------------------------------------------------------------------------- */
/* ## Avatar
--------------------------------------------- */
/* line 588, ../sass/_init.scss */
.avatar {
  float: left;
}

/* line 592, ../sass/_init.scss */
.alignleft .avatar,
.author-box .avatar {
  margin-right: 24px;
}

/* line 597, ../sass/_init.scss */
.alignright .avatar {
  margin-left: 24px;
}

/* line 601, ../sass/_init.scss */
.comment .avatar {
  margin: 0 16px 24px 0;
}

/* ## Genesis
--------------------------------------------- */
/* line 608, ../sass/_init.scss */
.breadcrumb {
  margin-bottom: 20px;
}

/* line 612, ../sass/_init.scss */
.archive-description,
.author-box {
  background-color: #fff;
  font-size: 16px;
  margin-bottom: 40px;
  padding: 40px;
}

/* line 620, ../sass/_init.scss */
.author-box-title {
  font-size: 16px;
  margin-bottom: 4px;
}

/* line 625, ../sass/_init.scss */
.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */
/* line 633, ../sass/_init.scss */
.search-form {
  overflow: hidden;
}

/* line 637, ../sass/_init.scss */
.site-header .search-form {
  float: right;
  margin-top: 12px;
}

/* line 642, ../sass/_init.scss */
.entry-content .search-form,
.site-header .search-form {
  width: 50%;
}

/* line 647, ../sass/_init.scss */
.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ## Titles
--------------------------------------------- */
/* line 661, ../sass/_init.scss */
.archive-title {
  font-size: 20px;
}

/* line 665, ../sass/_init.scss */
.entry-title {
  font-size: 36px;
}

/* line 669, ../sass/_init.scss */
.entry-title a,
.sidebar .widget-title a {
  color: #333;
}

/* line 674, ../sass/_init.scss */
.entry-title a:hover {
  color: #e5554e;
}

/* line 678, ../sass/_init.scss */
.widget-title {
  font-size: 18px;
  margin-bottom: 20px;
}

/* line 683, ../sass/_init.scss */
.footer-widgets .widget-title {
  color: #fff;
}

/* ## WordPress
--------------------------------------------- */
/* line 690, ../sass/_init.scss */
a.aligncenter img {
  display: block;
  margin: 0 auto;
}

/* line 695, ../sass/_init.scss */
a.alignnone {
  display: inline-block;
}

/* line 699, ../sass/_init.scss */
.alignleft {
  float: left;
  text-align: left;
}

/* line 704, ../sass/_init.scss */
.alignright {
  float: right;
  text-align: right;
}

/* line 709, ../sass/_init.scss */
a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%;
}

/* line 715, ../sass/_init.scss */
img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px;
}

/* line 721, ../sass/_init.scss */
img.alignnone,
.alignnone {
  margin-bottom: 12px;
}

/* line 726, ../sass/_init.scss */
a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0;
}

/* line 732, ../sass/_init.scss */
a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px;
}

/* line 738, ../sass/_init.scss */
.wp-caption-text {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

/* line 744, ../sass/_init.scss */
.entry-content p.wp-caption-text {
  margin-bottom: 0;
}

/* # Widgets
---------------------------------------------------------------------------------------------------- */
/* line 755, ../sass/_init.scss */
.widget {
  word-wrap: break-word;
}

/* line 759, ../sass/_init.scss */
.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px;
}

/* line 766, ../sass/_init.scss */
.widget li li {
  border: none;
  margin: 0 0 0 30px;
  padding: 0;
}

/* line 772, ../sass/_init.scss */
.widget_calendar table {
  width: 100%;
}

/* line 776, ../sass/_init.scss */
.widget_calendar td,
.widget_calendar th {
  text-align: center;
}

/* ## Featured Content
--------------------------------------------- */
/* line 784, ../sass/_init.scss */
.featured-content .entry {
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 20px;
  padding: 0 0 24px;
}

/* line 790, ../sass/_init.scss */
.footer-widgets .entry {
  border-bottom: 1px dotted #666;
}

/* line 794, ../sass/_init.scss */
.featured-content .entry-title {
  font-size: 20px;
}

/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* ## Genesis eNews Extended
--------------------------------------------- */
/* line 805, ../sass/_init.scss */
.enews-widget,
.enews-widget .widget-title {
  color: #fff;
}

/* line 810, ../sass/_init.scss */
.sidebar .widget.enews-widget {
  background-color: #333;
}

/* line 814, ../sass/_init.scss */
.enews-widget input,
.enews-widget input:focus {
  border: 1px solid #333;
}

/* line 819, ../sass/_init.scss */
.enews-widget input {
  font-size: 16px;
  margin-bottom: 16px;
}

/* line 824, ../sass/_init.scss */
.enews-widget input[type="submit"] {
  background-color: #e5554e;
  color: #fff;
  margin: 0;
  width: 100%;
}

/* line 831, ../sass/_init.scss */
.enews-widget input:hover[type="submit"] {
  background-color: #fff;
  color: #333;
}

/* line 836, ../sass/_init.scss */
.enews form + p {
  margin-top: 24px;
}

/* ## Jetpack
--------------------------------------------- */
/* line 843, ../sass/_init.scss */
#wpstats {
  display: none;
}

/* # Site Header
---------------------------------------------------------------------------------------------------- */
/* line 851, ../sass/_init.scss */
.site-header {
  background-color: #d0dcee;
}

/* line 855, ../sass/_init.scss */
.site-header .wrap {
  padding: 0;
}

/* ## Title Area
--------------------------------------------- */
/* line 862, ../sass/_init.scss */
.title-area {
  float: left;
  padding: 10px 0;
  width: 360px;
}

/* line 868, ../sass/_init.scss */
.header-full-width .title-area {
  width: 100%;
}

/* line 872, ../sass/_init.scss */
.site-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
}

/* line 878, ../sass/_init.scss */
.site-title a,
.site-title a:hover {
  color: #333;
}

/* line 883, ../sass/_init.scss */
.header-image .site-title > a {
  background: url(images/logo.png) no-repeat left;
  float: left;
  min-height: 60px;
  width: 100%;
}

/* line 890, ../sass/_init.scss */
.site-description {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

/* line 896, ../sass/_init.scss */
.site-description,
.site-title {
  margin-bottom: 0;
}

/* line 901, ../sass/_init.scss */
.header-image .site-description,
.header-image .site-title {
  display: block;
  text-indent: -9999px;
}

/* ## Widget Area
--------------------------------------------- */
/* line 910, ../sass/_init.scss */
.site-header .widget-area {
  float: right;
  text-align: right;
  width: 800px;
}

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
/* line 920, ../sass/_init.scss */
.genesis-nav-menu {
  clear: both;
  font-size: 24px;
  line-height: 1;
  width: 100%;
}

/* line 927, ../sass/_init.scss */
.genesis-nav-menu .menu-item {
  display: inline-block;
  text-align: left;
}

/* line 932, ../sass/_init.scss */
.genesis-nav-menu a {
  color: #333;
  display: block;
  padding: 30px 24px;
}

/* line 938, ../sass/_init.scss */
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: #e5554e;
}

/* line 944, ../sass/_init.scss */
.genesis-nav-menu .sub-menu {
  left: -9999px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  width: 200px;
  z-index: 99;
}

/* line 957, ../sass/_init.scss */
.genesis-nav-menu .sub-menu a {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: none;
  font-size: 20px;
  padding: 20px;
  position: relative;
  width: 200px;
}

/* line 967, ../sass/_init.scss */
.genesis-nav-menu .sub-menu .sub-menu {
  margin: -55px 0 0 199px;
}

/* line 971, ../sass/_init.scss */
.genesis-nav-menu .menu-item:hover {
  position: static;
}

/* line 975, ../sass/_init.scss */
.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}

/* line 980, ../sass/_init.scss */
.genesis-nav-menu > .first > a {
  padding-left: 0;
}

/* line 984, ../sass/_init.scss */
.genesis-nav-menu > .last > a {
  padding-right: 0;
}

/* line 988, ../sass/_init.scss */
.genesis-nav-menu > .right {
  color: #fff;
  float: right;
  list-style-type: none;
  padding: 30px 0;
}

/* line 995, ../sass/_init.scss */
.genesis-nav-menu > .right > a {
  display: inline;
  padding: 0;
}

/* line 1000, ../sass/_init.scss */
.genesis-nav-menu > .rss > a {
  margin-left: 48px;
}

/* line 1004, ../sass/_init.scss */
.genesis-nav-menu > .search {
  padding: 10px 0 0;
}

/* ## Site Header Navigation
--------------------------------------------- */
/* line 1011, ../sass/_init.scss */
.site-header .sub-menu {
  border-top: 1px solid #eee;
}

/* line 1015, ../sass/_init.scss */
.site-header .sub-menu .sub-menu {
  margin-top: -56px;
}

/* line 1019, ../sass/_init.scss */
.site-header .genesis-nav-menu li li {
  margin-left: 0;
}

/* ## Primary Navigation
--------------------------------------------- */
/* line 1026, ../sass/_init.scss */
.nav-primary {
  background-color: #333;
}

/* line 1030, ../sass/_init.scss */
.nav-primary .genesis-nav-menu a {
  color: #fff;
}

/* line 1034, ../sass/_init.scss */
.nav-primary .genesis-nav-menu .sub-menu a {
  color: #333;
}

/* line 1038, ../sass/_init.scss */
.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu .current-menu-item > a,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: #e5554e;
}

/* ## Secondary Navigation
--------------------------------------------- */
/* line 1047, ../sass/_init.scss */
.nav-secondary {
  background-color: #fff;
}

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Entries
--------------------------------------------- */
/* line 1058, ../sass/_init.scss */
.entry {
  margin-bottom: 40px;
  padding: 40px 60px;
}

/* line 1063, ../sass/_init.scss */
.content .entry {
  background-color: #fff;
}

/* line 1067, ../sass/_init.scss */
.entry-content ol,
.entry-content ul {
  margin-bottom: 28px;
  margin-left: 40px;
}

/* line 1073, ../sass/_init.scss */
.entry-content ol > li {
  list-style-type: decimal;
}

/* line 1077, ../sass/_init.scss */
.entry-content ul > li {
  list-style-type: disc;
}

/* line 1081, ../sass/_init.scss */
.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

/* line 1086, ../sass/_init.scss */
.entry-content code {
  background-color: #333;
  color: #ddd;
}

/* ## Entry Meta
--------------------------------------------- */
/* line 1094, ../sass/_init.scss */
p.entry-meta {
  font-size: 16px;
  margin-bottom: 0;
}

/* line 1099, ../sass/_init.scss */
.entry-header .entry-meta {
  margin-bottom: 24px;
}

/* line 1103, ../sass/_init.scss */
.entry-footer .entry-meta {
  border-top: 2px solid #f5f5f5;
  padding-top: 24px;
}

/* line 1108, ../sass/_init.scss */
.entry-categories,
.entry-tags {
  display: block;
}

/* line 1113, ../sass/_init.scss */
.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px;
}

/* ## Pagination
--------------------------------------------- */
/* line 1121, ../sass/_init.scss */
.pagination {
  clear: both;
  margin: 40px 0;
}

/* line 1126, ../sass/_init.scss */
.adjacent-entry-pagination {
  margin-bottom: 0;
}

/* line 1130, ../sass/_init.scss */
.archive-pagination li {
  display: inline;
}

/* line 1134, ../sass/_init.scss */
.archive-pagination li a {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 8px 12px;
}

/* line 1143, ../sass/_init.scss */
.archive-pagination li a:hover,
.archive-pagination .active a {
  background-color: #e5554e;
}

/* ## Comments
--------------------------------------------- */
/* line 1151, ../sass/_init.scss */
.comment-respond,
.entry-comments,
.entry-pings {
  background-color: #fff;
  margin-bottom: 40px;
}

/* line 1158, ../sass/_init.scss */
.comment-respond,
.entry-pings {
  padding: 40px 40px 16px;
}

/* line 1163, ../sass/_init.scss */
.entry-comments {
  padding: 40px;
}

/* line 1167, ../sass/_init.scss */
.comment-header {
  font-size: 16px;
}

/* line 1171, ../sass/_init.scss */
li.comment {
  background-color: #f5f5f5;
  border: 2px solid #fff;
  border-right: none;
}

/* line 1177, ../sass/_init.scss */
.comment-content {
  clear: both;
}

/* line 1181, ../sass/_init.scss */
.comment-list li {
  margin-top: 24px;
  padding: 32px;
}

/* line 1186, ../sass/_init.scss */
.comment-list li li {
  margin-right: -32px;
}

/* line 1190, ../sass/_init.scss */
.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%;
}

/* line 1196, ../sass/_init.scss */
.comment-respond label {
  display: block;
  margin-right: 12px;
}

/* line 1201, ../sass/_init.scss */
.entry-comments .comment-author {
  margin-bottom: 0;
}

/* line 1205, ../sass/_init.scss */
.entry-pings .reply {
  display: none;
}

/* line 1212, ../sass/_init.scss */
.form-allowed-tags {
  background-color: #f5f5f5;
  font-size: 16px;
  padding: 24px;
}

/* # Sidebars
---------------------------------------------------------------------------------------------------- */
/* line 1222, ../sass/_init.scss */
.sidebar {
  font-size: 16px;
}

/* line 1226, ../sass/_init.scss */
.sidebar li {
  border-bottom: 1px dotted #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/* line 1232, ../sass/_init.scss */
.sidebar p:last-child,
.sidebar ul > li:last-child {
  margin-bottom: 0;
}

/* line 1237, ../sass/_init.scss */
.sidebar .widget {
  background-color: #fff;
  margin-bottom: 40px;
  padding: 40px;
}

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
/* line 1247, ../sass/_init.scss */
.footer-widgets {
  background-color: #333;
  clear: both;
  padding-top: 40px;
}

/* line 1253, ../sass/_init.scss */
.footer-widgets,
.footer-widgets a {
  color: #999;
}

/* line 1258, ../sass/_init.scss */
.footer-widgets input {
  border: 1px solid #333;
}

/* line 1262, ../sass/_init.scss */
.footer-widgets a.button,
.footer-widgets a:hover {
  color: #fff;
}

/* line 1267, ../sass/_init.scss */
.footer-widgets li {
  border-bottom: 1px dotted #666;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/* line 1273, ../sass/_init.scss */
.footer-widgets .widget {
  margin-bottom: 40px;
}

/* line 1277, ../sass/_init.scss */
.footer-widgets p:last-child {
  margin-bottom: 0;
}

/* line 1281, ../sass/_init.scss */
.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  width: 340px;
}

/* line 1287, ../sass/_init.scss */
.footer-widgets-1 {
  margin-right: 60px;
}

/* line 1291, ../sass/_init.scss */
.footer-widgets-1,
.footer-widgets-2 {
  float: left;
}

/* line 1296, ../sass/_init.scss */
.footer-widgets-3 {
  float: right;
}

/* # Site Footer
---------------------------------------------------------------------------------------------------- */
/* line 1304, ../sass/_init.scss */
.site-footer {
  font-size: 16px;
  line-height: 1;
  padding: 40px 0;
  text-align: center;
}

/* line 1311, ../sass/_init.scss */
.site-footer p {
  margin-bottom: 0;
}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
  /* line 1321, ../sass/_init.scss */
  .site-inner,
  .wrap {
    max-width: 960px;
  }

  /* line 1326, ../sass/_init.scss */
  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 740px;
  }

  /* line 1332, ../sass/_init.scss */
  .content,
  .site-header .widget-area {
    width: 620px;
  }

  /* line 1337, ../sass/_init.scss */
  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 400px;
  }

  /* line 1343, ../sass/_init.scss */
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3,
  .sidebar-primary,
  .title-area {
    width: 300px;
  }

  /* line 1351, ../sass/_init.scss */
  .footer-widgets-1 {
    margin-right: 30px;
  }
}
@media only screen and (max-width: 960px) {
  /* line 1359, ../sass/_init.scss */
  .site-inner,
  .wrap {
    max-width: 800px;
  }

  /* line 1364, ../sass/_init.scss */
  .content,
  .content-sidebar-sidebar .content,
  .content-sidebar-sidebar .content-sidebar-wrap,
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3,
  .sidebar-content-sidebar .content,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-primary,
  .sidebar-secondary,
  .sidebar-sidebar-content .content,
  .sidebar-sidebar-content .content-sidebar-wrap,
  .site-header .widget-area,
  .title-area {
    width: 100%;
  }

  /* line 1381, ../sass/_init.scss */
  .site-header .wrap {
    padding: 20px 5%;
  }

  /* line 1385, ../sass/_init.scss */
  .header-image .title-area {
    background-position: center top;
  }

  /* line 1389, ../sass/_init.scss */
  .genesis-nav-menu li,
  .site-header ul.genesis-nav-menu,
  .site-header .search-form {
    float: none;
  }

  /* line 1395, ../sass/_init.scss */
  .genesis-nav-menu,
  .site-description,
  .site-header .title-area,
  .site-header .search-form,
  .site-title {
    text-align: center;
  }

  /* line 1403, ../sass/_init.scss */
  .genesis-nav-menu a,
  .genesis-nav-menu > .first > a,
  .genesis-nav-menu > .last > a {
    padding: 20px 16px;
  }

  /* line 1409, ../sass/_init.scss */
  .site-header .search-form {
    margin: 16px auto;
  }

  /* line 1413, ../sass/_init.scss */
  .genesis-nav-menu li.right {
    display: none;
  }

  /* line 1417, ../sass/_init.scss */
  .footer-widgets-1 {
    margin-right: 0;
  }
}
@media only screen and (max-width: 800px) {
  /* line 1425, ../sass/_init.scss */
  body {
    background-color: #fff;
    font-size: 16px;
  }

  /* line 1430, ../sass/_init.scss */
  .site-inner,
  .wrap {
    padding-left: 5%;
    padding-right: 5%;
  }

  /* line 1436, ../sass/_init.scss */
  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .entry-pings,
  .sidebar .widget,
  .site-header {
    padding: 0;
  }

  /* line 1447, ../sass/_init.scss */
  .archive-pagination li a {
    margin-bottom: 4px;
  }

  /* line 1451, ../sass/_init.scss */
  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    margin: 0;
    width: 100%;
  }

  /* line 1466, ../sass/_init.scss */
  .sidebar .widget.enews-widget {
    padding: 40px;
  }
}
/* line 1, ../sass/_header.scss */
.title-area {
  display: none;
}

/*
.desktopheader {
  float: left;
  width: 1200px;
}
.site-header aside.header-widget-area {
  float:right;
  width: 400px;
}
*/
/* Responsive Navigation
---------------------------------------------------------------------------------------------------- */
/* Standard Navigation
--------------------------------------------- */
/* line 7, ../sass/_mobilemenu.scss */
nav {
  clear: both;
}

/* Navigation toggles
--------------------------------------------- */
/* line 14, ../sass/_mobilemenu.scss */
.sub-menu-toggle,
.menu-toggle {
  display: none;
  visibility: hidden;
}

/* Navigation toggles - Ensure Menu Displays when Scaled Up
--------------------------------------------- */
@media only screen and (min-width: 768px) {
  /* line 25, ../sass/_mobilemenu.scss */
  nav {
    display: block !important;
  }
}
/* Navigation toggles - Mobile (Change max width as you see fit)
--------------------------------------------- */
@media only screen and (max-width: 767px) {
  /* line 35, ../sass/_mobilemenu.scss */
  .menu-toggle,
  .sub-menu-toggle {
    display: block;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto;
    overflow: hidden;
    height: 40;
    padding: 20px;
    text-align: center;
    visibility: visible;
    float: left;
  }

  /* line 49, ../sass/_mobilemenu.scss */
  button.menu-toggle {
    background: white !important;
  }

  /* line 53, ../sass/_mobilemenu.scss */
  button.menu-toggle,
  button.sub-menu-toggle {
    background-color: transparent;
    color: #999;
  }

  /* line 59, ../sass/_mobilemenu.scss */
  .sub-menu-toggle {
    padding: 18px;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* line 66, ../sass/_mobilemenu.scss */
  .menu-toggle:before {
    content: "\2261";
  }

  /* line 70, ../sass/_mobilemenu.scss */
  .menu-toggle.activated:before {
    content: "\2191";
  }

  /* line 74, ../sass/_mobilemenu.scss */
  .sub-menu-toggle:before {
    content: "+";
  }

  /* line 78, ../sass/_mobilemenu.scss */
  .sub-menu-toggle.activated:before {
    content: "-";
  }

  /* line 82, ../sass/_mobilemenu.scss */
  nav {
    display: none;
    position: relative;
  }

  /* line 87, ../sass/_mobilemenu.scss */
  .genesis-nav-menu .menu-item {
    color: white;
    display: block;
    position: relative;
    text-align: left;
  }

  /* line 94, ../sass/_mobilemenu.scss */
  .genesis-nav-menu .menu-item:hover {
    position: relative;
  }

  /* line 98, ../sass/_mobilemenu.scss */
  .genesis-nav-menu .sub-menu {
    clear: both;
    display: none;
    opacity: 1;
    position: static;
    width: 100%;
  }

  /* line 106, ../sass/_mobilemenu.scss */
  .genesis-nav-menu .sub-menu a {
    border-left: 0;
    position: relative;
    width: auto;
  }

  /* line 112, ../sass/_mobilemenu.scss */
  .genesis-nav-menu .sub-menu .sub-menu {
    margin: 0;
  }

  /* line 116, ../sass/_mobilemenu.scss */
  .genesis-nav-menu .sub-menu .sub-menu a {
    background-color: #f5f5f5;
    padding-left: 30px;
  }

  /* line 121, ../sass/_mobilemenu.scss */
  .genesis-nav-menu .sub-menu .sub-menu .sub-menu a {
    background-color: #fff;
    padding-left: 40px;
  }

  /* line 126, ../sass/_mobilemenu.scss */
  .nav-primary a:hover,
  .nav-primary .current-menu-item > a {
    color: #333;
  }
}
/* line 2, ../sass/_table.scss */
div.entry-content table tr th, div.entry-content table tr td {
  padding: 5px;
  border: 0px solid black;
  border-bottom: 1px solid white;
}
/* line 7, ../sass/_table.scss */
div.entry-content table tr th {
  background-color: black;
  color: white;
  font-size: large;
}
/* line 12, ../sass/_table.scss */
div.entry-content table tr td {
  background-color: #F0F0F0;
}

@media only screen and (max-width: 800px) {
  /* line 1, ../sass/_mobile.scss */
  .site-inner, .wrap {
    padding-left: 4px;
    padding-right: 4px;
  }

  /* line 6, ../sass/_mobile.scss */
  article.entry {
    padding: 5px;
  }

  /* line 10, ../sass/_mobile.scss */
  .mobileonly {
    display: block;
  }

  /* line 14, ../sass/_mobile.scss */
  .site-header {
    position: absolute;
    top: 0px;
    left: 55px;
    width: 90%;
    padding-right: 10px;
    height: 92px;
  }
  /* line 22, ../sass/_mobile.scss */
  .site-header .wrap {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  /* line 27, ../sass/_mobile.scss */
  .site-header .wrap .title-area {
    display: block;
  }
  /* line 29, ../sass/_mobile.scss */
  .site-header .wrap .title-area .site-title {
    text-indent: 0px;
    text-align: left;
    padding-top: 2px;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 1, ../sass/_1200.scss */
  .desktoponly, .header-widget-area {
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  /* line 1, ../sass/_desktop.scss */
  .mobileonly {
    display: none;
  }

  /* line 4, ../sass/_desktop.scss */
  .desktoponly {
    display: block;
  }

  /* line 8, ../sass/_desktop.scss */
  div.site-inner {
    background: #F0F0F0;
  }

  /* line 12, ../sass/_desktop.scss */
  .site-header {
    width: 1200px;
    height: 250px;
    margin: auto;
  }

  /* Sidebar */
  /* line 21, ../sass/_desktop.scss */
  section.social-icons-widget .widget-wrap {
    overflow: auto;
  }
  /* line 23, ../sass/_desktop.scss */
  section.social-icons-widget .widget-wrap ul, section.social-icons-widget .widget-wrap li {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
  }

  /* line 35, ../sass/_desktop.scss */
  footer.site-footer div.wrap p {
    background: rgba(255, 255, 255, 0.75);
  }
}
